:root {
    --base: #ffc600;
    --spacing: 20px;
    --blur: 10px;
    --quick-color-green: #2dd28c;
    --quick-color-red: #f20d52;
    --quick-color-white: #f8f8f8;
    --quick-color-blue: #210be8;
    --quick-color-brown: #78715a;
    --quick-color-black: #0e0c0e;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: "helvetica neue", sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}

.quick-colors-wrapper {
    display: flex;
    justify-content: center;
}

.quick-color {
    width: 100px;
    height: 100px;
    background: white;
    cursor: pointer;
}

.column__color {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
}

.green {
    background: var(--quick-color-green);
}

.red {
    background: var(--quick-color-red);
}

.white {
    background: var(--quick-color-white);
}

.blue {
    background: var(--quick-color-blue);
}

.brown {
    background: var(--quick-color-brown);
}

.black {
    background: var(--quick-color-black);
}
